<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
   <h3>Book your seat</h3>
    <div id="box">
      <button class="boxes" id="one" data-content="11">11</button>
      <button class="boxes" id="two" data-content="12">12</button>
      <button class="boxes" id="three" data-content="13">13</button>
      <button class="boxes" id="four" data-content="14">14</button>
      <button class="boxes" id="five" data-content="15">15</button>
      <button class="boxes" id="six" data-content="16">16</button>
      <button class="boxes" id="seven" data-content="17">17</button>
      <button class="boxes" id="eight" data-content="18">18</button>
      <button class="boxes" id="nine" data-content="15">19</button>
      <button class="boxes" id="ten" data-content="16">20</button>
      <button class="boxes" id="eleven" data-content="17">21</button>
      <button class="boxes" id="ten" data-content="18">22</button>
    </div>
    <form  action="/submit" method="post">
     <input  id="submit" type="submit" value="Book your seat">
     </form>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="../javascripts/script.js"></script>

</body>
</html>