*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#box{
 width: 50%;
 height: 40%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around;
}

.boxes{
  width: 100px;
  height: 100px;
  background-color: blue;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}